body {
    margin: 0;
    height: 100vh;
    background-color: #98fb98;
}

.gallery {
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 5px;
}

.gallery .products {
    display: inline-block;
    height: 300px;
    width: 23%;
    position: relative;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5px;
}

.gallery .products#product1{
    background-image: url(../img/product-1.jpg);
}

.gallery .products#product2{
    background-image: url(../img/product-2.jpg);
}

.gallery .products#product3{
    background-image: url(../img/product-3.jpg);
}

.gallery .products#product4{
    background-image: url(../img/product-4.jpg);
}

.gallery .products .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255,165,0, 0.6);
    opacity: 0;
    transform: all 0.4s linear;
}

.gallery .products .mask:hover {
    opacity: 1;
}

.gallery .products .mask .content {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery .products .mask .content a.link {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
